.features-table
{
  width:100%; 
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;
  background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff));
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 20px; 
  margin-right: 20px; 
}
 
.features-table td
{
  height: 85px;
  padding: 0 20px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-weight: bold;
}
 
.features-table tbody td
{
  text-align: center;
  width: 150px;
}
 
.features-table td.grey
{
  background: #efefef;
  background: rgba(144,144,144,0.15);
  border-right: 1px solid white;
}
 
.features-table td.green
{
  background: #e7f3d4;
  background: rgba(184,243,85,0.3);
}
 
.features-table td
{
  white-space: nowrap;
}
 
.features-table thead td
{
  font-size: 150%;
  font-weight: bold;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #eaeaea;
}
 
.transactions-table
{
  font-family: Serif; 
  font-size: 100%;
  font-weight: normal;  
  border-collapse: collapse; 
  width: 1000px;
  height: auto;
  text-align: center;
  margin-left: 5px; 

}

.transactions-table tr:nth-child(even)
{
  background-color: #dddddd;
}

.transactions-table td, th 
{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 3px;
}

.fieldset 
{
  font-size: 250%; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.scroll 
{
  ::-webkit-scrollbar-thumb:hover{border-width: 1px 1px 1px 2px; border-color: #555; background-color: #777;}
  ::-webkit-scrollbar-track{border-width:0;}
  ::-webkit-scrollbar-track:hover{border-left: solid 1px #aaa; background-color: #eee;}
  ::-webkit-scrollbar{width:12px;}
  ::-webkit-scrollbar-thumb{border-width:1px 1px 1px 2px; border-color: #777; background-color: #aaa;}
  ::-webkit-scrollbar-track{border-width:0;}
}






